<div class="row">
    <div class="col-sm-12">
    <div class="border border-success">
        <br>
        <div class="d-flex justify-content-around">
            <div class="border border-5 border-dark">ユーザー名:<%= chara.name %></div>
            <div class="border border-5 border-dark">投稿者のID:<%= chara.customer_id %></div>
        </div>
        <br>
        <div class="col-sm-11 border border-5 border-primary rounded mx-auto">
            <%= safe_join(chara.creation.split("\n"),tag(:br)) %>
        </div>
        <div class=<%= "favorite-" + chara.id.to_s %> >
            <%= render 'public/favorites/btn', chara: chara %>
        </div>
            <%= render 'public/chara_comments/counter', chara: chara %>
        <% if !current_page?(public_chara_path(chara.id)) %>
            <%= link_to "キャラ詳細ページ", public_chara_path(chara.id), method: :get, class:'btn btn-success' %>
        <% end %>
        </div>
    </div>
</div>